@import url("https://fonts.googleapis.com/css?family=Open+Sans&display=swap");
html {
  scroll-behavior: smooth;
}

body {
  top: 0;
  left: 0;
  font-family: "Open Sans", sans-serif;
  overflow-x: hidden;
}

div {
  overflow-x: hidden;
}

.test-blok {
  width: 90%;
  height: 300px;
  background-color: grey;
  border: 1px solid red;
}

hr {
  width: 145px !important;
  background-image: linear-gradient(to right, #ed1c94 50%, #981df0 120%);
  height: 3px !important;
}

.btn-primary {
  background-image: linear-gradient(to right, #6d0eb1, #310cb3) !important;
  border: 1px solid #310cb3 !important;
}
.btn-primary:active {
  border: 1px solid #310cb3 !important;
}
.btn-primary:visited {
  border: 1px solid #310cb3 !important;
}

.row {
  padding: 0 !important;
  margin: 0 !important;
  overflow-x: hidden;
  overflow-y: hidden;
}

.section-wave {
  top: 0;
  transform: translateY(-97%);
  width: 100vw;
  line-height: 0;
}
.section-wave .section-wave > svg {
  width: 100vw;
  height: auto;
}
.section-wave svg {
  fill: white;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
}

::-webkit-scrollbar {
  z-index: 999 !important;
  width: 8px;
  background-color: rgba(0, 0, 0, 0.2);
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #555;
}

.intro {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 100vh;
  background-image: linear-gradient(to right, #6d0eb1, #310cb3);
  padding: 10px;
  color: white;
}
.intro div h1 {
  font-size: 400%;
}
.intro div div .btn {
  margin: 5px;
}
.intro div div .btn:hover {
  background-color: #981DF0;
  color: white;
  border: 2px solid #981DF0 !important;
}

.links {
  background-color: #ed1c94;
  border: 2px solid #ed1c94;
  color: #ffffff;
  border-radius: 20px !important;
}

.rechts {
  background-color: transparent;
  border: 2px solid white !important;
  color: #ffffff;
  border-radius: 20px !important;
}

#over_ons {
  padding: 50px 0;
  min-height: 100vh;
}
#over_ons .over_ons-title {
  margin-bottom: 20px;
  text-align: center;
}

#aanbod {
  padding-bottom: 50px;
  margin-top: 50px !important;
}

.aanbod {
  padding-top: 50px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}
.aanbod h3 {
  text-align: center;
}
.aanbod .card {
  margin: 20px 0;
  border-color: transparent;
}
.aanbod .card .item-img-container {
  display: flex;
  align-items: center;
  justify-content: center;
}
.aanbod .card .item-img-container img {
  max-height: 286px;
  border-radius: 5px;
}
.aanbod .card .card-title {
  text-align: center !important;
}

/* The overlay effect (full height and width) - lays on top of the container and over the image */
.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 74%;
  width: 100%;
  opacity: 0;
  transition: 0.3s ease;
  background-color: rgba(237, 28, 148, 0.5);
  border-radius: 5px;
}

/* When you mouse over the container, fade in the overlay icon*/
.card-overlay:hover .overlay {
  opacity: 1;
}

/* The icon inside the overlay is positioned in the middle vertically and horizontally */
.icon {
  color: white;
  opacity: 1;
  font-size: 50px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

/* When you move the mouse over the icon, change color */
.fa-plus:hover, .icon:hover {
  color: #fff;
}

.fab {
  border-radius: 100%;
  background-color: #21212E;
}

.page-footer {
  min-height: 150px;
  padding-top: 30px;
  background-color: #29293A;
  color: white;
}
.page-footer a {
  color: white;
}
.page-footer a:hover {
  color: white;
  text-decoration: none;
}
.page-footer .col-4 {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

.social-media-icons-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  font-size: 30px;
  width: 30px;
  text-align: center;
  text-decoration: none;
}

.aboutUs-section {
  min-height: 110vh;
  padding: 50px 0;
}
.aboutUs-section .imacScherm {
  max-width: 100%;
}
.aboutUs-section .over_ons-title {
  margin-bottom: 60px;
  position: relative;
  z-index: 1;
}
.aboutUs-section .over_ons-title h3 {
  position: relative;
}
.aboutUs-section .aboutUs-knop {
  position: relative;
  top: 20px;
  left: 10px;
  padding: 14px 38px;
  border: 1px solid #ededed;
  border-radius: 30px;
  transition: all 0.3s ease;
  margin-bottom: 20px;
  background-color: #ED1C94;
  color: white !important;
}
.aboutUs-section .aboutUs-knop:hover {
  cursor: pointer;
  background-color: #981DF0;
}

.about-text, .aboutimg {
  margin: 0 !important;
}

.gfq-wrap {
  z-index: 9999999;
  position: fixed;
  bottom: 40px;
  right: 40px;
}

.gfq-badge {
  background: #71C28E;
  /*Change this colour to change the circle*/
  width: 60px;
  height: 60px;
  border-radius: 100%;
  box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.1);
  transition: all 0.1s ease-in-out;
  transform: scale(1);
  float: right;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-weight: bold;
}

.gfq-badge img {
  position: relative;
  left: 50%;
  transform: translate(-50%, -50%);
  top: 50%;
  width: 80% !important;
}

.gfq-panel {
  width: 373px;
  /*Panel width*/
  height: auto;
  /*Panel height*/
  max-width: 400px;
  /*Mac Panel width*/
  max-height: 800px;
  /*Max Panel height*/
  background: #F9FAFA;
  box-shadow: 5px 5px 20px 0 rgba(0, 0, 0, 0.1);
  position: absolute;
  bottom: 40px;
  right: 0px;
  transition: all 0.3s ease-in-out;
  opacity: 0;
  border-radius: 4px;
  overflow: hidden;
  padding: 30px;
  border: 1px solid #D9E0E3;
}

.panel-active {
  bottom: 80px;
  opacity: 100;
}

.gfield.no-label > .gfield_label {
  display: none;
}

.gfq-panel input[type=submit] {
  width: 100%;
}

.cart-container {
  padding: 20px;
  color: black;
  height: 80vh;
  margin: 50px 0;
  background-color: white;
}

/*# sourceMappingURL=style.css.map */
