@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

body {
  top: 0;
  left: 0;
  font-family: "Open Sans", sans-serif;
  overflow-x: hidden;
  //padding: 10px;
}

div {
  overflow-x: hidden;
}

.btn links {

}

.test-blok {
  width: 90%;
  height: 300px;
  background-color: grey;
  border: 1px solid red;
}

hr {
  width: 145px !important;
  background-image: linear-gradient(to right, #ed1c94 50%, #981df0 120%);
  height: 3px !important;
}

.btn-primary {
  background-image: linear-gradient(to right, #6d0eb1, #310cb3) !important;
  border: 1px solid #310cb3 !important;

  &:active {
    border: 1px solid #310cb3 !important;
  }

  &:visited {
    border: 1px solid #310cb3 !important;
  }
}

.row{
  padding: 0 !important;
  margin: 0 !important;
  overflow-x: hidden;
}

.section-wave {
  //position: absolute;
  top: 0;
  transform: translateY(-97%);
  width: 100vw;
  line-height: 0;
  .section-wave>svg {
    width: 100vw;
    height: auto;
  }
  svg{
    fill: white;
  }

}


::-webkit-scrollbar-track
{
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  border-radius: 10px;
  //background-color: rgba(0,0,0,0.3);
}

::-webkit-scrollbar
{
  z-index: 999 !important;
  width: 8px;
  background-color: rgba(0,0,0,0.2);
}

::-webkit-scrollbar-thumb
{
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
  background-color: #555;
}

